@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');

/*----- common styles----- */
body {
    font-family: 'Poppins', sans-serif;
}

header {
    background: black;
    border-radius: 30px;
    height: 100vh;
    display: flex;
    margin: 70px;
}

#header h3 {
    color: white;
    font-size: 70px;
    margin: 70px;
}

#header p {
    color: white;
    margin: 70px;
}

#header a {
    text-decoration: none;
    color: #fff;
    margin: 70px;
    background: red;
    padding: 10px 30px;
    border-radius: 2px;
}

.container {
    width: 50%;
}

.btn {
    text-decoration: none;
    background-color: #fff;
    color: black;
}

.btn:hover {
    background-color: red;
    color: white;
}

.image {
    margin: 70px 0px;
    padding: 150px;
    width: 150px;

}

#input-tag {
    margin: 70px 0px;
    display: flex;

}

.container-2 {
    width: 100%;
    display: flex;

    margin-top: 40px;
}

.half-div {
    width: 50%;

}

.half-div a {
    width: 50%;
}

.flex {
    display: flex;
}

.input {
    width: 80%;
    background-color: black;
    margin: 10px;
    padding: 20px 0px;
    border-radius: 10px;
}

.input a {
    display: block;
    text-align: center;
    width: 50%;
    padding: 20px 10px;
    margin: 20px auto;
    border-radius: 10px;
}